.btn-color {
    color: #c44829;
  }
.bold {
    font-weight: 500;
  }
.forgot-screen{
    display: block;
    background-color: #ffeee0;
    height:auto
  }
  ion-button.full-with-btn{
    background-color: var(--main-font-color);
    color: #fff;
    font-size: 14px;
    height: 45px;
    border: 1px solid var(--main-font-color);
    border-radius: 4px;
    width: 100%;
    letter-spacing: 1px;
}
.stylist-input{
  border: 1px solid #f1d7d7;
  border-radius: 6px;
  font-size: 15px;
  color: var(--main-font-color);
  margin-bottom: 20px;
}
.opacity-1{--placeholder-opacity: 1  !important;}
.all-content-center{
  display: flex;
  justify-content: center;
  align-items: center !important;
}