/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// ion-content{
//     --background:url('/assets/theme_background.png') 0 0/100% 100% no-repeat ;
// }
h1, h2, h3, h4, h5, h6, button, p, span{
    font-family: 'Roboto', sans-serif;
}
h6{
    line-height: 28px;
    color: var(--main-font-color);
    font-size: 16px;
    font-weight: 400;
}
p{
    line-height: 28px;
    color: var(--main-font-color);
    font-size: 18px;
}
.main-color{
    color:var(--main-font-color) !important;
}
.main-light-color{
    color:var(--light-font-color) !important;
}